* {
    margin: 0;
    padding: 0;
}

body {
    background: #222;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: purple;
    text-shadow: rgba(0, 0, 0, 0.8) 2px 5px;
}

h2 {
    font-size: 25pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h3 {
    font-size: 20pt;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#textcontainer {
    position: absolute;
    text-align: center;
    top: 5vh;
    width: 700px;
    height: 100px;
}

#inputcontainer {
    position: relative;
    top: 5vh;
    left: -5vw;
    width: 30vw;
    height: 50vh;
    background: green;
}

#outputcontainer {
    position: relative;
    top: 5vh;
    right: -5vw;
    width: 30vw;
    height: 50vh;
    background: blue;
}

#creditscontainer {
    position: absolute;
    text-align: center;
    bottom: 5vh;
    width: 650px;
    height: 100px;
}